@model IEnumerable<SchoolManagement.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>

<p>
    <a class="btn btn-info me-2" asp-action="Create">Create New</a>
    <a class="btn btn-secondary  me-2" asp-action="GenerateCertificate">Generate Certificate</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary me-2" asp-action="Edit" asp-route-id="@item.StudentId">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-outline-info me-2" asp-action="Details" asp-route-id="@item.StudentId">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.StudentId">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
